---
---
* {
  font-size: 0.8rem;
}
footer {
  display: none !important;
}
.btn {
  display: none !important;
}
body {
  padding: 0;
  margin: 3em;
  font-family: 'Roboto', sans-serif;
  color: #282828;
}
ul.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p.meta {
  color: #bebebe;
  font-size: 0.75em;
}
.title a {
  color: #551A8B;
  text-decoration: none;
}
h1 {
  font-size: 1.2rem;
}
h2 {
  font-size: 1rem;
}
h3 {
  font-size: 0.8rem;
}
