<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="portfolio">
    <meta name="author" content="Sally Baker">
    <meta name="robots" content="noindex, nofollow" />
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{page.root}}/assets/css/style.css">
  </head>
  <body>  
    {{ content }}
  </body>
</html>
